<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Application A</display-name>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param> 
    <context-param>
        <param-name>facelets.REFRESH_PERIOD</param-name>
        <param-value>-1</param-value>
    </context-param>    
    <context-param>
      <param-name>net.bootsfaces.get_fontawesome_from_cdn</param-name>
      <param-value>false</param-value>
    </context-param>        
    <mime-mapping>
        <extension>json</extension>
        <mime-type>application/json</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/x-font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/x-font-ttf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-fontobject</mime-type>
    </mime-mapping>    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>   
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/errorpages/expired.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errorpages/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorpages/error.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorpages/error.xhtml</location>
    </error-page>
    <security-constraint>
        <display-name>Public</display-name>
        <web-resource-collection>
            <web-resource-name>Public</web-resource-name>
            <url-pattern>*.css</url-pattern>
            <url-pattern>*.jpg</url-pattern>
            <url-pattern>*.gif</url-pattern>
            <url-pattern>*.eot</url-pattern>
            <url-pattern>*.svg</url-pattern>
            <url-pattern>*.ttf</url-pattern>
            <url-pattern>*.woff</url-pattern>
            <url-pattern>*.woff2</url-pattern>
            <url-pattern>/javax.faces.resource/*</url-pattern>
            <url-pattern>/javax.faces.resource/webfonts/*</url-pattern>
        </web-resource-collection>
        <!-- OMITTING auth-constraint makes it accessible to all -->
    </security-constraint>
    <security-constraint>
        <display-name>Application Users</display-name>
        <web-resource-collection>
            <web-resource-name>Application Pages</web-resource-name>
            <url-pattern>/faces/*</url-pattern>
            <url-pattern>/index.*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>GROUP 1</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <role-name>GROUP 1</role-name>
    </security-role>  
    <security-role>
        <role-name>GROUP 2</role-name>
    </security-role> 
    <session-config>
        <session-timeout>
            480
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <!-- Prevent client side scripting from accessing/manipulating session cookie. -->
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
        <!-- This disables URL rewriting. -->
    </session-config> 
</web-app>
