/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 12, 2018, 11:47:00 AM
    Author     : tgorman
*/

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
} 

html {
    height: 100%;
    overflow-y: hidden; 
}

body {
    margin-top: 50px;
    height: 100%
}

#main {
    position: relative;
    height: calc(100% - 100px);
    top: 0px;
    left: auto;
}


#no-bottomtab-main {
    position: relative;
    height: calc(100% - 65px);
    top: 0px;
    left: auto;
}

.aesBrand {
    height: 25px;
    max-height: 25px;
}

#menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 1em;
     z-index: 1; 
    overflow-y: auto;
    overflow-x: hidden;
    border:0px; 
    margin-left: -100%;    
}

#recentMenu {
    margin: 1em;
}

#details {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    padding: 1em;
    z-index: 0; 
    overflow-x: hidden;
    overflow-y: auto;
}

.parked {
    margin-left: 0% !important;
}

#details\:buttons {
    margin-bottom: 1em;
}

.photoPanel {
    width: 100%;
    overflow: hidden;    
}

#details\:result {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

/**.selected {
    color: white;
    background-color: #337ab7;
} **/

/**.textSelected {
    color: white;
} **/

.buttonBlock {
    display: block;
    margin-top: 1em;
}

.additionalButton {
    margin-left: 1em;
}

.backButton {
    margin-bottom: 1em;
}

form#returnForm {
    margin-bottom: 1em;
}

/*
 * Prevent navbar from collapsing on small devices
 */
.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.leftMargin {
    margin-left: 1em;
}


img {
    vertical-align: middle !important;
}

/*
 * Phone-sized device
 */
@media only screen and (max-width: 768px) {
    
    .navbar-header {
        display: none;
    }

    .fa, .fas, .fab, .far, .fal {
      /**  font-size: 1.5em !important; **/
      font-size: 1.5em ;
    }

}

/*
 * Devices larger than a phone
 */
@media only screen and (min-width: 768px) {
    
    body {
        margin-top: 65px;
        margin-bottom: 65px;
        font-size: 18px;
    }
    
    #main {
        height: calc(100% - 130px);
    }
    
    #no-bottomtab-main {
        height: calc(100% - 65px);
    }    
    
    .aesBrand {
        height: 40px;
        max-height: 40px;
        padding-right: 1em;
    }
    
    .navbar-brand {
        font-size: 25px;
    }

    #menu {
        width: 20em;
    }
    
    .moveDetails {
        padding-left: 20em !important;
    }
    
    #topNavForm .btn {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333;
        border-radius: 6px;
    }
    
    #topNavForm .fa {
        font-size: 2em !important;
    }
    
    .bottomNavBar .btn {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333;
        border-radius: 6px;
    }
    
    .bottomNavBar .fa {
        font-size: 2em !important;
    }    

    .details .fa, .details .fas, .details .fab, .details .far, .details .fal {
        font-size: 2em;
    }
    
    #details .btn {
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333;
        border-radius: 6px;
    }             
    
    .fa, .fas, .fab, .far, .fal {
        font-size: 2em !important;
    }

    .tableButton .fa, .tableButton .fas, .tableButton .fab, .tableButton .far, .tableButton .fal {
        font-size: 1em !important;        
    }      

    .updateButton .fa, .updateButton .fas, .updateButton .fab, .updateButton .far, .updateButton .fal {
        font-size: 1em !important;        
    }   

    .updateButton .btn {
        padding: 6px 12px !important;
        font-size: 14px !important;
        line-height: 1.428571429;
        border-radius: 6px;        
    }     
    
        
}

/*
 * Side Menu Styles
 */

.linkHead {
    color: white;
    background-color: #337ab7;  
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;    
}

.ulHead {
    padding: 0px;        
}

.pdfReport {
    padding: 1em;
    line-height: 36px !important; 
}

.reportChoice {
    font-size: 80%;
    font-weight: normal;
}


.select2-container .select2-selection--single {
   height: 34px !important;
}

.select2-container {
    width: 100% !important;
    font-size: 14px;
}

.section-heading {
    color: #fff;
    background-color: #7386D5;
    border-color: #337ab7;  
    margin-bottom: 1em;    
    font-style: italic;    
}

.summary-section-heading {
    color: #fff;
    background-color: #7386D5;
    border-color: #337ab7;    
    font-style: italic;    
}

div.dataTables_wrapper div.dataTables_info{
    display: none;    
}

.tableFont {
    font-size: 80%;
    margin-bottom: 1em;    
}

.section-title { 
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;    
    font-size: 14px;
    font-weight: 600;    
}


.deleteButton{
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.428571429;
    border-radius: 6px; 
    float: right;
    margin-bottom: 10px;
}

 .errorsPresent a {
    color: red;
} 

 .noErrorsPresent a {

} 

.currentReportLink {
    font-style: italic;
    font-weight: 900;    
}

.gridRow {
    margin-bottom: 1em;
}

.gridLabel {
    display: inline-block;
    width: 100%;
    font-weight: normal;
    font-size: 80%;
    text-transform: uppercase;
}

.gridText {
    display: block;
    font-weight: bold;
    font-size: 125%;
}

.gridFieldText {
    display: block;
    font-weight: bold;
    font-size: 125%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gridInputText {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
}

.gridAutocomplete {
    display: block;
}

.gridAutocomplete input {
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    box-shadow: none !IMPORTANT;
    border: 1px solid #ccc !IMPORTANT;
}

.gridOutputText {
    display: block;
    font-weight: bold;
}

.gridText:empty:after {
    content: "\00a0";
}

.gridFieldText:empty:after {
    content: "\00a0";
}

.gridFieldMixedCaseText:empty:after {
    content: "\00a0";
}


.gridFieldMixedCaseText {
    display: block;
    font-weight: bold;
    font-size: 125%;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-transform: none;
}


.dialog {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(-100px + 100%);
    overflow-y: auto;
    overflow-x: hidden;
}

.dialogPanel {
    margin: 1em;
}

.dialogButtons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
}

div.dataTables_wrapper div.dataTables_filter input {
    color: red;
    font-size: larger;
    font-weight: 900;
}

.upperCase {
    text-transform: uppercase;
}


.upperCaseInputText {
    text-transform: uppercase;
}

